@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root{
    --principal: #FB5607;
    --secundaria: #0E080E;
    --roxinho: #5E239D;
    --contraste: #87C38F;
    --branco: #e8e4ad;
}

@media screen and (max-width: 768px) {
    body{
        background-color: var(--contraste);
    }
    header{
        background-image: url(../img/banner-imbr01.jpeg);
        background-position: center top;
        background-size: contain;
        background-repeat: no-repeat;
        width: 100vw;
        height: 255px;
    }
    a{
        font-family: monospace;
        font-weight: bolder;
        position: absolute;
        background-color: rgba(251, 84, 7, 0.85);
        color: var(--contraste);
        text-shadow: 2px 3px 3px var(--roxinho);
        text-decoration: none;
        padding: 6px;
        border-radius: 6px;
        top: 40px;
    }
    #link1{
        right: 110px;
    }
    #link2{
        right: 25px;
    }

    main{
        background-color: var(--branco);
        max-width: 490px;
        margin: auto;
    }
    h2{
        text-align: center;
        font-size: 1.5em;
        padding-top: 9px;
        margin-bottom: 17px;
        text-shadow: 2px 2px 3px rgba(94, 35, 157, 0.8);
    }
    p{
        font-size: 1em;
        text-align: justify;
        text-indent: 10px;
        margin-bottom: 15px;
        line-height: 20px;
    }
    #unico{
        font-weight: bolder;
    }
    ol{
        list-style-position: inside;
        line-height: 40px;
        text-indent: 20px;
    }
    ul{
        list-style-type: disc;
        padding-left: 25px;
    }


}